body {
    margin: 0px;
    padding: 0px;
	 }

h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-family: "Open Sans", sans-serif;
    margin-left: 5%;
}

p {
    font-family: "Open Sans", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

a {
	color: #808080;
}

.animation {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#soOn {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

#sequence {
    font-style: italic;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #ff83a4;
}

#buttonsSection {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#soundButtonForm,
#visualizationButtonForm{
    display: inline-block;
    text-align: center;
}

.button{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    display: inline-block;
    margin: 5px;
    padding: 6px 15px;
    color: #d32654;
    background: #fff;
    border: 0.1em solid #d32654;
    border-radius: 5px;
    vertical-align: middle;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.3s;
}

.button:hover {
  color: #fff;
  background: #d32654;;
}

.sound {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;

}

#soundOn {
    display: none;
}

#sketchContainer {
  padding: 0% 25%;
}

footer {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    color: #808080;
}

@media only screen and (min-width : 1024px) {
    h2 {
        margin-left: 26%;
    }

    p {
        margin-left: 26%;
        margin-right: 26%;
    }
}
