body {
    margin: 0px;
    padding: 0px;
	 }

h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-family: "Open Sans", sans-serif;
    margin-left: 5%;
}

p {
    font-family: "Open Sans", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

a {
	color: #808080;
}

.animation {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#soOn {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

#sequence {
    font-style: italic;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #ff83a4;
}

#buttonsSection {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#soundButtonForm,
#visualizationButtonForm{
    display: inline-block;
    text-align: center;
}
.button { 
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    display: inline-block;
    margin: 5px;
    padding: 6px 15px;
    color: #ffffff;
    background: #2c3e50;
    background: #d32654;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
}

.sound {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    
}

#soundOn {
    display: none;
}

#addition {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    color: #808080;
}


#sketch-container {
    height: 400px;
}

@media only screen and (min-width : 1024px) {
    h2 {
        margin-left: 26%;
    }

    p {
        margin-left: 26%;
        margin-right: 26%;
    }
}

@media only screen and (max-width : 1023px) {
    #sketch-container {
        height: 300px;
    }
}
